version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=baza
      - MYSQL_DATABASE=prevezime_db
      - MYSQL_USER=baza
      - MYSQL_PASSWORD=baza
    ports:
      - "3307:3306" 
    volumes:
      - ./prevezime_db.sql:/docker-entrypoint-initdb.d/setup.sql
      - db_data:/var/lib/mysql
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app            
      - /app/node_modules 
      - /app/.next        
    environment:
      - DATABASE_URL=mysql://baza:baza@db:3306/prevezime_db
      - JWT_SECRET=previse_tajna_lozinka
    command: npm run dev
volumes:
  db_data: